NodeRed/wbNoderedConfig.json
[
    {
        "id": "2e3644f155339df2",
        "type": "tab",
        "label": "Node Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24e4dec4b98235b1",
        "type": "change",
        "z": "2e3644f155339df2",
        "name": "variablesName",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "payload[\"/devices/virtualACdetector/controls/AC_alarm\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fan",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/FAN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "heater",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Heater\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Humidity\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "manualControl",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Manual_control\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreet",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fanPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/FAN_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "heaterPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Heater_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "winKitPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/WinKit_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaCooler",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling_delta_cooler\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaFan",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling_delta_fan\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cooler2Present",
                "pt": "msg",
                "to": "payload[\"/devices/virtualCooler/controls/Cooler2_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxHeating",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_heating\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetWinKit",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_winKit\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetWinKitDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_winKit_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetSwitching",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_switching\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetSwitchingDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_switching_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxHeatingDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_heating_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidityThreshold",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Humidity_threshold\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "doorPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualDoor/controls/Door_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "payload[\"/devices/virtualDoor/controls/Door\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fireDetectorPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualFireDetector/controls/Fire_detector_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fire",
                "pt": "msg",
                "to": "payload[\"/devices/virtualFireDetector/controls/Fire\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "coolerTemperature",
                "pt": "msg",
                "to": "payload[\"/devices/virtualCooler/controls/Temperature\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidityThresholdDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Humidity_threshold_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "shtylStatus",
                "pt": "msg",
                "to": "payload[\"/devices/shtyl/controls/Work_status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "0fc823855db75066"
            ]
        ]
    },
    {
        "id": "9dae7228be584a39",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "manualControlCheck",
        "property": "manualControl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 40,
        "wires": [
            [
                "0caf197eb8e67c30",
                "036c8c12a5e585d3"
            ]
        ]
    },
    {
        "id": "4be3a116e273b99b",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_street",
        "property": "tStreet",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "tStreetWinKit",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "winkitDelta",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "f28887f134459189"
            ],
            [
                "35d0a247089f6e19"
            ]
        ]
    },
    {
        "id": "4782466822adafe2",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "winKitDelta",
        "func": "var tWinKit = msg.tStreetWinKit;\nvar delta = msg.tStreetWinKitDelta;\nmsg.winkitDelta = tWinKit + delta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 140,
        "wires": [
            [
                "4be3a116e273b99b"
            ]
        ]
    },
    {
        "id": "0fc823855db75066",
        "type": "change",
        "z": "2e3644f155339df2",
        "name": "variablesNumber",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "$number(ac)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fan",
                "pt": "msg",
                "to": "$number(fan)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "heater",
                "pt": "msg",
                "to": "$number(heater)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "$number(humidity)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "manualControl",
                "pt": "msg",
                "to": "$number(manualControl)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "$number(tBox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreet",
                "pt": "msg",
                "to": "$number(tStreet)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fanPresent",
                "pt": "msg",
                "to": "$number(fanPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "heaterPresent",
                "pt": "msg",
                "to": "$number(heaterPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "winKitPresent",
                "pt": "msg",
                "to": "$number(winKitPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "$number(tBoxCooling)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "$number(tBoxOverheat)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxHeating",
                "pt": "msg",
                "to": "$number(tBoxHeating)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetWinKit",
                "pt": "msg",
                "to": "$number(tStreetWinKit)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetSwitching",
                "pt": "msg",
                "to": "$number(tStreetSwitching)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidityThreshold",
                "pt": "msg",
                "to": "$number(humidityThreshold)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "doorPresent",
                "pt": "msg",
                "to": "$number(doorPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "$number(door)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "door1",
                "pt": "msg",
                "to": "$number(door1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "door2",
                "pt": "msg",
                "to": "$number(door2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fireDetectorPresent",
                "pt": "msg",
                "to": "$number(fireDetectorPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fire",
                "pt": "msg",
                "to": "$number(fire)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fireDetector1",
                "pt": "msg",
                "to": "$number(fireDetector1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fireDetector2",
                "pt": "msg",
                "to": "$number(fireDetector2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "coolerTemperature",
                "pt": "msg",
                "to": "$number(coolerTemperature)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaCooler",
                "pt": "msg",
                "to": "$number(tBoxCoolingDeltaCooler)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaFan",
                "pt": "msg",
                "to": "$number(tBoxCoolingDeltaFan)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "$number(tBoxOverheatDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxHeatingDelta",
                "pt": "msg",
                "to": "$number(tBoxHeatingDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetWinKitDelta",
                "pt": "msg",
                "to": "$number(tStreetWinKitDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetSwitchingDelta",
                "pt": "msg",
                "to": "$number(tStreetSwitchingDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidityThresholdDelta",
                "pt": "msg",
                "to": "$number(humidityThresholdDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "coolerDelta",
                "pt": "msg",
                "to": "$number(coolerDelta)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "eb7e79610b418a04"
            ]
        ]
    },
    {
        "id": "f571f003836f278b",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "24e4dec4b98235b1"
            ]
        ]
    },
    {
        "id": "036c8c12a5e585d3",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "winKitPresent",
        "property": "winKitPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "4782466822adafe2"
            ]
        ]
    },
    {
        "id": "eb7e79610b418a04",
        "type": "change",
        "z": "2e3644f155339df2",
        "name": "commands",
        "rules": [
            {
                "t": "set",
                "p": "off",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "on",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "coolerOff",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coolerFan",
                "pt": "msg",
                "to": "FAN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coolerOn",
                "pt": "msg",
                "to": "tBoxCooling",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 40,
        "wires": [
            [
                "9dae7228be584a39"
            ]
        ]
    },
    {
        "id": "0caf197eb8e67c30",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "checkFire",
        "property": "fire",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "2d2769344dde5dda",
                "927eeef13b959ff8",
                "2b07f4226250f8a9",
                "8a15f912fef55524"
            ],
            [
                "3b5e99edb0404e9a",
                "9824848a3c016d68"
            ]
        ],
        "icon": "font-awesome/fa-fire-extinguisher"
    },
    {
        "id": "3b5e99edb0404e9a",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "acAlarm",
        "property": "ac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 500,
        "wires": [
            [
                "c4a6e4ea267e1a11",
                "4388be426c04ab2e",
                "2fc3248e5a2b750c"
            ],
            [
                "8b84c774e43ef24b",
                "98192f2333b8a95f"
            ]
        ],
        "icon": "font-awesome/fa-flash"
    },
    {
        "id": "c4a6e4ea267e1a11",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "checkFanPresent",
        "property": "fanPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "9728f6880bcb6950"
            ]
        ],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "765a5c06b432aaea",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "tBoxCooling",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "coolingDeltaFan",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "5416d8d135a4c321"
            ],
            [
                "09121607c52811cf"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-half"
    },
    {
        "id": "9728f6880bcb6950",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "heatingDelta",
        "func": "var coolingDeltaFan = msg.tBoxCooling - msg.tBoxCoolingDeltaFan;\nmsg.coolingDeltaFan = coolingDeltaFan;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "765a5c06b432aaea"
            ]
        ]
    },
    {
        "id": "d8c77af0ec076b15",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "doorOpen",
        "property": "door",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 740,
        "wires": [
            [
                "50663258964707fc",
                "9a10c0610b76a633",
                "13a707a37e92a1ac",
                "bc28696dd9d7ea9f"
            ],
            [
                "9d3286bcadac5734"
            ]
        ],
        "icon": "font-awesome/fa-folder-open"
    },
    {
        "id": "8b84c774e43ef24b",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "doorPresent",
        "property": "doorPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "d8c77af0ec076b15"
            ],
            [
                "9d3286bcadac5734"
            ]
        ],
        "icon": "font-awesome/fa-folder-open"
    },
    {
        "id": "eaaa9f7758bedc99",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "tBoxHeating",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "heatingDelta",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 860,
        "wires": [
            [
                "aa6bbbbe4fa336e5",
                "6059b6447b3cdd4e",
                "d195d1b2fb526d75"
            ],
            [
                "87085a8e7adc946c",
                "de8f898060c34345"
            ]
        ]
    },
    {
        "id": "9d3286bcadac5734",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "heaterPresent",
        "property": "heaterPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 880,
        "wires": [
            [
                "2302b419d736726f"
            ],
            [
                "de8f898060c34345"
            ]
        ],
        "icon": "font-awesome/fa-folder-open"
    },
    {
        "id": "27847f6218a19eb4",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "fanPresent",
        "property": "fanPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "5d06a6329b540a5f"
            ],
            [
                "a25d463bd61cfe8a"
            ]
        ],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "2302b419d736726f",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "calculationDelta",
        "func": "var heatingDelta = msg.tBoxHeating + msg.tBoxHeatingDelta;\nmsg.heatingDelta = heatingDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "eaaa9f7758bedc99"
            ]
        ]
    },
    {
        "id": "5d06a6329b540a5f",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "coolingDeltaCooler",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "tBoxCooling",
                "vt": "msg",
                "v2": "overheatDelta",
                "v2t": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 980,
        "wires": [
            [
                "94b204c8c30a75e0"
            ],
            [
                "2e0d6ec3c7d88ce9"
            ],
            [
                "cb3e74ffde864eaf"
            ]
        ]
    },
    {
        "id": "de8f898060c34345",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "calculationDelta",
        "func": "\nvar coolingDeltaCooler = msg.tBoxCooling - msg.tBoxCoolingDeltaCooler;\nvar coolingDeltaCoolerUp = msg.tBoxCooling + msg.tBoxCoolingDeltaCooler;\nvar coolingDeltaFan = msg.tBoxCooling - msg.tBoxCoolingDeltaFan;\nvar overheatDelta = msg.tBoxOverheat - msg.tBoxOverheatDelta; \nmsg.coolingDeltaCooler = coolingDeltaCooler;\nmsg.coolingDeltaCoolerUp = coolingDeltaCoolerUp;\nmsg.coolingDeltaFan = coolingDeltaFan;\nmsg.overheatDelta = overheatDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 980,
        "wires": [
            [
                "27847f6218a19eb4"
            ]
        ]
    },
    {
        "id": "cb3e74ffde864eaf",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "frz2Prsnt",
        "property": "cooler2Present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "2e0d6ec3c7d88ce9"
            ],
            [
                "0b9d866c586078de"
            ]
        ],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "3391235880b31709",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Street",
        "property": "tStreet",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "switchingDelta",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "switchingDelta",
                "vt": "msg",
                "v2": "tStreetSwitching",
                "v2t": "msg"
            },
            {
                "t": "gt",
                "v": "tStreetSwitching",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "e4c27b15951c1b1b"
            ],
            [
                "1a24c183a754a228"
            ],
            [
                "9911e3ebf82153a4"
            ]
        ]
    },
    {
        "id": "a25d463bd61cfe8a",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "calculationDelta",
        "func": "var switchingDelta = msg.tStreetSwitching - msg.tStreetSwitchingDelta;\nvar humidityDelta = msg.humidityThreshold - msg.humidityThresholdDelta;\nmsg.switchingDelta = switchingDelta;\nmsg.humidityDelta = humidityDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "ac15904faf73921c"
            ]
        ]
    },
    {
        "id": "9911e3ebf82153a4",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "coolingDeltaCooler",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "coolingDeltaFan",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "tBoxCooling",
                "vt": "msg",
                "v2": "overheatDelta",
                "v2t": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
        "y": 1660,
        "wires": [
            [
                "0267b1c6fd0f59eb"
            ],
            [
                "050d5b820f36e607"
            ],
            [
                "050d5b820f36e607",
                "89bc68198789592f"
            ],
            [
                "574aeaece0bc548f"
            ]
        ]
    },
    {
        "id": "070c71ca35197389",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "coolingDeltaCooler",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxCooling",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "dbfae2eef55ca6f3"
            ],
            [
                "de6e198a1dc7014d"
            ],
            [
                "45d2262a45f27057"
            ]
        ]
    },
    {
        "id": "dbfae2eef55ca6f3",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "frz2Prsnt",
        "property": "cooler2Present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1440,
        "wires": [
            [
                "338e3f9a7e3e599c"
            ]
        ],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "574aeaece0bc548f",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "frz2Prsnt",
        "property": "cooler2Present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 1720,
        "wires": [
            [
                "dfa7e41e777f7037",
                "89bc68198789592f"
            ],
            [
                "6db3206e4c65376d",
                "efea423f0b5602fb"
            ]
        ],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "02cdd3a55d1f8f4b",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "checkRot",
        "func": "var lastRotate = msg.payload;\nvar date = Math.floor(new Date().getTime() / 1000);\nif (date - lastRotate > 3600) {\n    msg.rotation = 1;\n} else msg.rotation = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1400,
        "wires": [
            [
                "b358e6f26c653171"
            ]
        ]
    },
    {
        "id": "4a73ac0cf34f5969",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "checkRot",
        "func": "var lastRotate = msg.payload;\nvar date = Math.floor(new Date().getTime() / 1000);\nif (date - lastRotate > 3600) {\n    msg.rotation = 1;\n} else msg.rotation = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1800,
        "wires": [
            [
                "99c21c577a5bfced"
            ]
        ]
    },
    {
        "id": "c92985e555fe6423",
        "type": "function",
        "z": "2e3644f155339df2",
        "name": "checkRot",
        "func": "var lastRotate = msg.payload;\nvar date = Math.floor(new Date().getTime() / 1000);\nif (date - lastRotate > 3600) {\n    msg.rotation = 1;\n} else msg.rotation = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "20c4e7a58ec41e1c"
            ]
        ]
    },
    {
        "id": "e4c27b15951c1b1b",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "W кг/м3",
        "property": "humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "humidityDelta",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "humidityThreshold",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 1540,
        "wires": [
            [
                "c88191736f5d1d7e"
            ],
            [
                "070c71ca35197389",
                "3c3e23a10230cc9a"
            ]
        ]
    },
    {
        "id": "c88191736f5d1d7e",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "coolingDeltaFan",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "tBoxCooling",
                "vt": "msg",
                "v2": "overheatDelta",
                "v2t": "msg"
            },
            {
                "t": "lt",
                "v": "overheatDelta",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "6a65ebb27c885175"
            ],
            [
                "0f5f5af6aa08185d"
            ],
            [
                "9f4fa28877531df8"
            ],
            [
                "dbfae2eef55ca6f3"
            ]
        ]
    },
    {
        "id": "ac15904faf73921c",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "checkBatTest",
        "property": "shtylStatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Тест емкости батарей",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "5d06a6329b540a5f"
            ],
            [
                "3391235880b31709"
            ]
        ]
    },
    {
        "id": "98192f2333b8a95f",
        "type": "debug",
        "z": "2e3644f155339df2",
        "name": "ac",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "ac",
        "targetType": "msg",
        "statusVal": "ac",
        "statusType": "auto",
        "x": 90,
        "y": 540,
        "wires": []
    },
    {
        "id": "9824848a3c016d68",
        "type": "debug",
        "z": "2e3644f155339df2",
        "name": "fire",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "fire",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 90,
        "y": 400,
        "wires": []
    },
    {
        "id": "1a24c183a754a228",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "coolingDeltaCoolerUp",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1580,
        "wires": [
            [
                "349227e73b81a0a1"
            ]
        ]
    },
    {
        "id": "349227e73b81a0a1",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "W кг/м3",
        "property": "humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "humidityThreshold",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "humidityDelta",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "45d2262a45f27057"
            ],
            [
                "0e70d257fa4200e6"
            ]
        ]
    },
    {
        "id": "2b62c6cc019d8898",
        "type": "wirenboard-in",
        "z": "2e3644f155339df2",
        "name": "NK Node",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualACdetector/controls/AC_alarm",
            "/devices/virtualController/controls/FAN_present",
            "/devices/virtualController/controls/Heater_present",
            "/devices/virtualController/controls/Humidity",
            "/devices/virtualController/controls/Humidity_threshold",
            "/devices/virtualController/controls/Humidity_threshold_delta",
            "/devices/virtualController/controls/Manual_control",
            "/devices/virtualController/controls/WinKit_present",
            "/devices/virtualController/controls/tIN",
            "/devices/virtualController/controls/tIN_cooling",
            "/devices/virtualController/controls/tIN_heating",
            "/devices/virtualController/controls/tIN_heating_delta",
            "/devices/virtualController/controls/tIN_overheat",
            "/devices/virtualController/controls/tIN_overheat_delta",
            "/devices/virtualController/controls/tOUT",
            "/devices/virtualController/controls/tOUT_switching",
            "/devices/virtualController/controls/tOUT_switching_delta",
            "/devices/virtualController/controls/tOUT_winKit",
            "/devices/virtualController/controls/tOUT_winKit_delta",
            "/devices/virtualController/controls/Lightning",
            "/devices/virtualController/controls/tIN_cooling_delta_cooler",
            "/devices/virtualController/controls/tIN_cooling_delta_fan",
            "/devices/virtualDoor/controls/Door",
            "/devices/virtualDoor/controls/Door_present",
            "/devices/virtualFireDetector/controls/Fire",
            "/devices/shtyl/controls/Work_status"
        ],
        "outputAtStartup": true,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "f571f003836f278b"
            ]
        ]
    },
    {
        "id": "338e3f9a7e3e599c",
        "type": "wirenboard-get",
        "z": "2e3644f155339df2",
        "name": "lastRot",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Last_rotation_unix"
        ],
        "x": 560,
        "y": 1440,
        "wires": [
            [
                "02cdd3a55d1f8f4b"
            ]
        ]
    },
    {
        "id": "efea423f0b5602fb",
        "type": "wirenboard-get",
        "z": "2e3644f155339df2",
        "name": "lastRot",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Last_rotation_unix"
        ],
        "x": 380,
        "y": 1760,
        "wires": [
            [
                "4a73ac0cf34f5969"
            ]
        ]
    },
    {
        "id": "f28887f134459189",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "winKit ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/WinKit"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": true,
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "35d0a247089f6e19",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "winKit OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/WinKit"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "2d2769344dde5dda",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 260,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "927eeef13b959ff8",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "heater OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 830,
        "y": 300,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "2b07f4226250f8a9",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 340,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "8a15f912fef55524",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "manual control",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Manual_control"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": true,
        "x": 840,
        "y": 380,
        "wires": [],
        "icon": "font-awesome/fa-hand-stop-o"
    },
    {
        "id": "4388be426c04ab2e",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "heater OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 830,
        "y": 560,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "09121607c52811cf",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 480,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "5416d8d135a4c321",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 440,
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "50663258964707fc",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 620,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "9a10c0610b76a633",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "heater OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 830,
        "y": 660,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "13a707a37e92a1ac",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 700,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "aa6bbbbe4fa336e5",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "heater ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": true,
        "x": 830,
        "y": 800,
        "wires": [],
        "icon": "font-awesome/fa-fire"
    },
    {
        "id": "6059b6447b3cdd4e",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 880,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "87085a8e7adc946c",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "heater OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 830,
        "y": 920,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "0f5f5af6aa08185d",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 1260,
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "050d5b820f36e607",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 1580,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "434a4f1c229c76cc",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "rotation ON",
        "server": "7ef06d54361ebcef",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "rotation",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1780,
        "wires": [],
        "icon": "font-awesome/fa-exchange"
    },
    {
        "id": "2021a9bcd4d3c340",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "rotation ON",
        "server": "7ef06d54361ebcef",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "rotation",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1380,
        "wires": [],
        "icon": "font-awesome/fa-exchange"
    },
    {
        "id": "6db3206e4c65376d",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 1700,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "dfa7e41e777f7037",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 1660,
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "1a5c012bfc228910",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "rotation ON",
        "server": "7ef06d54361ebcef",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1100,
        "wires": [],
        "icon": "font-awesome/fa-exchange"
    },
    {
        "id": "6a65ebb27c885175",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 1220,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "3c3e23a10230cc9a",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 380,
        "y": 1540,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "bc28696dd9d7ea9f",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "Lightning ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/Lightning"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "0e70d257fa4200e6",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "fan ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 820,
        "y": 1500,
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "2fc3248e5a2b750c",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 520,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "94b204c8c30a75e0",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 980,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "2e0d6ec3c7d88ce9",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1020,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "9f4fa28877531df8",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1300,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "ad9fde22aeb0b11a",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1340,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "de6e198a1dc7014d",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1420,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "45d2262a45f27057",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1460,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "0267b1c6fd0f59eb",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1540,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "89bc68198789592f",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1620,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "124b0d9b61a4d7a5",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1740,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "d122dbdb69b4e7d0",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1820,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "d195d1b2fb526d75",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer vent",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerFan",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 840,
        "wires": [],
        "icon": "font-awesome/fa-recycle"
    },
    {
        "id": "850263b88159742d",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "ada4e060a0fae6d5",
                "1a5c012bfc228910"
            ]
        ]
    },
    {
        "id": "e489952fa29c5327",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "2021a9bcd4d3c340",
                "cda10ad41a7a33e1"
            ]
        ]
    },
    {
        "id": "894b106e7ef2a928",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1780,
        "wires": [
            [
                "f6a1bd5fa07fb6c2",
                "434a4f1c229c76cc"
            ]
        ]
    },
    {
        "id": "b358e6f26c653171",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "timeRot",
        "property": "rotation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1360,
        "wires": [
            [
                "de6e198a1dc7014d",
                "e489952fa29c5327"
            ]
        ]
    },
    {
        "id": "99c21c577a5bfced",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "timeRot",
        "property": "rotation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1740,
        "wires": [
            [
                "124b0d9b61a4d7a5",
                "894b106e7ef2a928"
            ]
        ]
    },
    {
        "id": "cda10ad41a7a33e1",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1280,
        "wires": [
            [
                "ad9fde22aeb0b11a"
            ]
        ]
    },
    {
        "id": "f6a1bd5fa07fb6c2",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1820,
        "wires": [
            [
                "d122dbdb69b4e7d0"
            ]
        ]
    },
    {
        "id": "0b9d866c586078de",
        "type": "wirenboard-get",
        "z": "2e3644f155339df2",
        "name": "lastRot",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Last_rotation_unix"
        ],
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "c92985e555fe6423"
            ]
        ]
    },
    {
        "id": "20c4e7a58ec41e1c",
        "type": "switch",
        "z": "2e3644f155339df2",
        "name": "timeRot",
        "property": "rotation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "850263b88159742d",
                "486c8d2a55b6a0ed"
            ]
        ]
    },
    {
        "id": "ada4e060a0fae6d5",
        "type": "delay",
        "z": "2e3644f155339df2",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1140,
        "wires": [
            [
                "b93f2e8917a7729b"
            ]
        ]
    },
    {
        "id": "486c8d2a55b6a0ed",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer OFF",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1060,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "b93f2e8917a7729b",
        "type": "wirenboard-out",
        "z": "2e3644f155339df2",
        "name": "freezer ON",
        "server": "7ef06d54361ebcef",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 830,
        "y": 1140,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "7ef06d54361ebcef",
        "type": "wirenboard-server",
        "name": "wirenboard",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": ""
    }
]
