NodeRed/wbNoderedConfig.json
[
    {
        "id": "6968155a9975e85c",
        "type": "tab",
        "label": "Node Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8c09d1a50c8c690",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "variablesName",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "payload[\"/devices/virtualACdetector/controls/AC_alarm\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fan",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/FAN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "heater",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Heater\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Humidity\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "manual",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Manual_control\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreet",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fanPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/FAN_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "heaterPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Heater_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "winKitPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/WinKit_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaCooler",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling_delta_cooler\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaFan",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling_delta_fan\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cooler2Present",
                "pt": "msg",
                "to": "payload[\"/devices/virtualCooler/controls/Cooler2_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxHeating",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_heating\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetWinKit",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_winKit\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetWinKitDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_winKit_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetSwitching",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_switching\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tStreetSwitchingDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tOUT_switching_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxHeatingDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_heating_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidityThreshold",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Humidity_threshold\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "doorPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualDoor/controls/Door_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "payload[\"/devices/virtualDoor/controls/Door\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fireDetectorPresent",
                "pt": "msg",
                "to": "payload[\"/devices/virtualFireDetector/controls/Fire_detector_present\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fire",
                "pt": "msg",
                "to": "payload[\"/devices/virtualFireDetector/controls/Fire_alarm\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "coolerTemperature",
                "pt": "msg",
                "to": "payload[\"/devices/virtualCooler/controls/Temperature\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidityThresholdDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Humidity_threshold_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "shtylStatus",
                "pt": "msg",
                "to": "payload[\"/devices/shtyl/controls/Work_status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "123128058c843448"
            ]
        ]
    },
    {
        "id": "48d5345f52cbe56e",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "manualControlCheck",
        "property": "manual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "a38a3572d822837f"
            ],
            [
                "8be9aceac56e2338",
                "33b7d33d16357d89"
            ]
        ]
    },
    {
        "id": "c9e6bd8d2f19a9eb",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_street",
        "property": "tStreet",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "tStreetWinKit",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "winkitDelta",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "4f210e427aeb6817"
            ],
            [
                "2f7a67becc305854"
            ]
        ]
    },
    {
        "id": "b4f35f1bdc4cfbb8",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "winKitDelta",
        "func": "var tWinKit = msg.tStreetWinKit;\nvar delta = msg.tStreetWinKitDelta;\nmsg.winkitDelta = tWinKit + delta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 400,
        "wires": [
            [
                "c9e6bd8d2f19a9eb"
            ]
        ]
    },
    {
        "id": "123128058c843448",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "variablesNumber",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "$number(ac)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fan",
                "pt": "msg",
                "to": "$number(fan)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "heater",
                "pt": "msg",
                "to": "$number(heater)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "$number(humidity)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "manual",
                "pt": "msg",
                "to": "$number(manual)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "$number(tBox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreet",
                "pt": "msg",
                "to": "$number(tStreet)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fanPresent",
                "pt": "msg",
                "to": "$number(fanPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "heaterPresent",
                "pt": "msg",
                "to": "$number(heaterPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "winKitPresent",
                "pt": "msg",
                "to": "$number(winKitPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "$number(tBoxCooling)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "$number(tBoxOverheat)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxHeating",
                "pt": "msg",
                "to": "$number(tBoxHeating)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetWinKit",
                "pt": "msg",
                "to": "$number(tStreetWinKit)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetSwitching",
                "pt": "msg",
                "to": "$number(tStreetSwitching)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidityThreshold",
                "pt": "msg",
                "to": "$number(humidityThreshold)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "doorPresent",
                "pt": "msg",
                "to": "$number(doorPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "$number(door)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "door1",
                "pt": "msg",
                "to": "$number(door1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "door2",
                "pt": "msg",
                "to": "$number(door2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fireDetectorPresent",
                "pt": "msg",
                "to": "$number(fireDetectorPresent)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fire",
                "pt": "msg",
                "to": "$number(fire)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fireDetector1",
                "pt": "msg",
                "to": "$number(fireDetector1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fireDetector2",
                "pt": "msg",
                "to": "$number(fireDetector2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "coolerTemperature",
                "pt": "msg",
                "to": "$number(coolerTemperature)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaCooler",
                "pt": "msg",
                "to": "$number(tBoxCoolingDeltaCooler)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCoolingDeltaFan",
                "pt": "msg",
                "to": "$number(tBoxCoolingDeltaFan)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "$number(tBoxOverheatDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxHeatingDelta",
                "pt": "msg",
                "to": "$number(tBoxHeatingDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetWinKitDelta",
                "pt": "msg",
                "to": "$number(tStreetWinKitDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tStreetSwitchingDelta",
                "pt": "msg",
                "to": "$number(tStreetSwitchingDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidityThresholdDelta",
                "pt": "msg",
                "to": "$number(humidityThresholdDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "coolerDelta",
                "pt": "msg",
                "to": "$number(coolerDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cooler2Present",
                "pt": "msg",
                "to": "$number(cooler2Present)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "f4e00bf76f3ca08d"
            ]
        ]
    },
    {
        "id": "d400a51f5db2c1ab",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "c8c09d1a50c8c690"
            ]
        ]
    },
    {
        "id": "33b7d33d16357d89",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "winKitPresent",
        "property": "winKitPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "b4f35f1bdc4cfbb8"
            ]
        ]
    },
    {
        "id": "f4e00bf76f3ca08d",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "commands",
        "rules": [
            {
                "t": "set",
                "p": "off",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "on",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "coolerOff",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coolerFan",
                "pt": "msg",
                "to": "FAN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coolerOn",
                "pt": "msg",
                "to": "tBoxCooling",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 40,
        "wires": [
            [
                "48d5345f52cbe56e"
            ]
        ]
    },
    {
        "id": "8be9aceac56e2338",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "checkFire",
        "property": "fire",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "3041af0a85993bcf",
                "d480f2f877dc58f4",
                "392ff70124d8efc1"
            ],
            [
                "f3f17f5dc5930a0b"
            ]
        ],
        "icon": "font-awesome/fa-fire-extinguisher"
    },
    {
        "id": "f3f17f5dc5930a0b",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "acAlarm",
        "property": "ac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "7f327a7c9f16982b"
            ],
            [
                "55efe80ebc92804d"
            ]
        ],
        "icon": "font-awesome/fa-flash"
    },
    {
        "id": "0932507d4d0aa7a3",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "checkFanPresent",
        "property": "fanPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "7237bf4839cd9b90"
            ]
        ],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "31f03a353cbbb58c",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "tBoxCooling",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "coolingDeltaFan",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
<<<<<<< HEAD
        "x": 700,
        "y": 540,
=======
        "x": 680,
        "y": 760,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "31cf370e2a2eabbf",
                "c06dc4787695357f"
            ],
            [
                "1b7b7d9cbc60e2b9",
                "c06dc4787695357f"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-half"
    },
    {
        "id": "7237bf4839cd9b90",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "heatingDelta",
        "func": "var coolingDeltaFan = msg.tBoxCooling - msg.tBoxCoolingDeltaFan;\nmsg.coolingDeltaFan = coolingDeltaFan;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
<<<<<<< HEAD
        "x": 710,
        "y": 500,
=======
        "x": 690,
        "y": 720,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "31f03a353cbbb58c"
            ]
        ]
    },
    {
        "id": "e6d7d32c97d367da",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "doorOpen",
        "property": "door",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "7d08cc26823624d8"
            ],
            [
                "283270af62a31e9a"
            ]
        ],
        "icon": "font-awesome/fa-folder-open"
    },
    {
        "id": "55efe80ebc92804d",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "doorPresent",
        "property": "doorPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1060,
        "wires": [
            [
                "e6d7d32c97d367da"
            ],
            [
                "283270af62a31e9a"
            ]
        ],
        "icon": "font-awesome/fa-folder-open"
    },
    {
        "id": "9808e94314904343",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "tBoxHeating",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "heatingDelta",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "2bb8739c81d8acbb",
                "5f82bf5bd2cad7a8",
                "4aa5f59f09d46b62"
            ],
            [
                "0a5c67a632300ce5",
                "5f7de875667e8e49"
            ]
        ]
    },
    {
        "id": "283270af62a31e9a",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "heaterPresent",
        "property": "heaterPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 1280,
        "wires": [
            [
                "ec2a2cdad63a08d0"
            ],
            [
                "5f7de875667e8e49"
            ]
        ],
        "icon": "font-awesome/fa-folder-open"
    },
    {
        "id": "72ef5cbe0aaac523",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "fanPresent",
        "property": "fanPresent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1420,
        "wires": [
            [
                "a8a83aaa4849c19a"
            ],
            [
                "78f49f5a6e0b0a04"
            ]
        ],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "ec2a2cdad63a08d0",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "calculationDelta",
        "func": "var heatingDelta = msg.tBoxHeating + msg.tBoxHeatingDelta;\nmsg.heatingDelta = heatingDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "9808e94314904343"
            ]
        ]
    },
    {
        "id": "a8a83aaa4849c19a",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "coolingDeltaCooler",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "tBoxCooling",
                "vt": "msg",
                "v2": "overheatDelta",
                "v2t": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 1380,
        "wires": [
            [
                "5f8ad03361f87d1d"
            ],
            [
                "caa97a0ffc97a768"
            ],
            [
                "2609af861abef64c"
            ]
        ]
    },
    {
        "id": "5f7de875667e8e49",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "calculationDelta",
        "func": "\nvar coolingDeltaCooler = msg.tBoxCooling - msg.tBoxCoolingDeltaCooler;\nvar coolingDeltaCoolerUp = msg.tBoxCooling + msg.tBoxCoolingDeltaCooler;\nvar coolingDeltaFan = msg.tBoxCooling - msg.tBoxCoolingDeltaFan;\nvar overheatDelta = msg.tBoxOverheat - msg.tBoxOverheatDelta; \nmsg.coolingDeltaCooler = coolingDeltaCooler;\nmsg.coolingDeltaCoolerUp = coolingDeltaCoolerUp;\nmsg.coolingDeltaFan = coolingDeltaFan;\nmsg.overheatDelta = overheatDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1380,
        "wires": [
            [
                "72ef5cbe0aaac523"
            ]
        ]
    },
    {
        "id": "2609af861abef64c",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "frz2Prsnt",
        "property": "cooler2Present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 1420,
        "wires": [
            [
                "caa97a0ffc97a768"
            ],
            [
                "a7a6239ac5d5a4fc"
            ]
        ],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "b2667374bf895643",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Street",
        "property": "tStreet",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "switchingDelta",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "switchingDelta",
                "vt": "msg",
                "v2": "tStreetSwitching",
                "v2t": "msg"
            },
            {
                "t": "gt",
                "v": "tStreetSwitching",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 110,
        "y": 1980,
        "wires": [
            [
                "23defbcf7ddbb178"
            ],
            [
                "0f6ae3e1dd4ffb2b"
            ],
            [
                "851c8219648e5b63"
            ]
        ]
    },
    {
        "id": "78f49f5a6e0b0a04",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "calculationDelta",
        "func": "var switchingDelta = msg.tStreetSwitching - msg.tStreetSwitchingDelta;\nvar humidityDelta = msg.humidityThreshold - msg.humidityThresholdDelta;\nmsg.switchingDelta = switchingDelta;\nmsg.humidityDelta = humidityDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1460,
        "wires": [
            [
                "03e59719b662741e"
            ]
        ]
    },
    {
        "id": "851c8219648e5b63",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "coolingDeltaCooler",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "coolingDeltaFan",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "tBoxCooling",
                "vt": "msg",
                "v2": "overheatDelta",
                "v2t": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
<<<<<<< HEAD
        "y": 1820,
=======
        "y": 2040,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "f41cd6f0bf52d62c"
            ],
            [
                "84976dcbd3423eef"
            ],
            [
                "84976dcbd3423eef",
                "5f013b764f7ca3fc"
            ],
            [
                "d0d741b6de2b3e61"
            ]
        ]
    },
    {
        "id": "0d3b4e3e4bc7bbaf",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "coolingDeltaCooler",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxCooling",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 1900,
        "wires": [
            [
                "be372d45747b5c7e"
            ],
            [
                "5cf825d03fbf3150"
            ],
            [
                "77b38d4dcf605753"
            ]
        ]
    },
    {
        "id": "be372d45747b5c7e",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "frz2Prsnt",
        "property": "cooler2Present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 1840,
        "wires": [
            [
                "a6f975e16fb95676"
            ],
            [
                "cfad2e06739e4c75"
            ]
        ],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "d0d741b6de2b3e61",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "frz2Prsnt",
        "property": "cooler2Present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
<<<<<<< HEAD
        "y": 1880,
=======
        "y": 2100,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "a17a12291e44cc17",
                "5f013b764f7ca3fc"
            ],
            [
                "496f1c8c42352091",
                "10dcb7b16932378a"
            ]
        ],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "f36f74bc4aff2bd4",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "checkRot",
        "func": "var lastRotate = msg.payload;\nvar date = Math.floor(new Date().getTime() / 1000);\nif (date - lastRotate > 3600) {\n    msg.rotation = 1;\n} else msg.rotation = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1800,
        "wires": [
            [
                "fea7209ca2a97c07"
            ]
        ]
    },
    {
        "id": "6826bbb3dccffbe9",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "checkRot",
        "func": "var lastRotate = msg.payload;\nvar date = Math.floor(new Date().getTime() / 1000);\nif (date - lastRotate > 3600) {\n    msg.rotation = 1;\n} else msg.rotation = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
<<<<<<< HEAD
        "y": 1960,
=======
        "y": 2180,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "c161e80478f34ab1"
            ]
        ]
    },
    {
        "id": "08f7a996d86b4bc6",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "checkRot",
        "func": "var lastRotate = msg.payload;\nvar date = Math.floor(new Date().getTime() / 1000);\nif (date - lastRotate > 3600) {\n    msg.rotation = 1;\n} else msg.rotation = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "7773ad84ed907d9d"
            ]
        ]
    },
    {
        "id": "23defbcf7ddbb178",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "W кг/м3",
        "property": "humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "humidityDelta",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "humidityThreshold",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 1940,
        "wires": [
            [
                "8a7229d1de2b13ad"
            ],
            [
                "0d3b4e3e4bc7bbaf",
                "26f1e9bba9388ef7"
            ]
        ]
    },
    {
        "id": "8a7229d1de2b13ad",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "coolingDeltaFan",
                "vt": "msg"
            },
            {
                "t": "btwn",
                "v": "tBoxCooling",
                "vt": "msg",
                "v2": "overheatDelta",
                "v2t": "msg"
            },
            {
                "t": "lt",
                "v": "overheatDelta",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "tBoxOverheat",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
        "y": 1620,
        "wires": [
            [
                "9d02a28397b0888a"
            ],
            [
                "3287d16628599ab9"
            ],
            [
                "14ae17f9417c5b08"
            ],
            [
                "be372d45747b5c7e"
            ]
        ]
    },
    {
        "id": "03e59719b662741e",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "checkBatTest",
        "property": "shtylStatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Тест емкости батарей",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1600,
        "wires": [
            [
                "a8a83aaa4849c19a",
                "2b272f73a34845af"
            ],
            [
                "b2667374bf895643"
            ]
        ]
    },
    {
        "id": "0f6ae3e1dd4ffb2b",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "coolingDeltaCoolerUp",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1980,
        "wires": [
            [
                "96c7ec1c4d79fbfc"
            ]
        ]
    },
    {
        "id": "96c7ec1c4d79fbfc",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "W кг/м3",
        "property": "humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "humidityThreshold",
                "vt": "msg"
            },
            {
                "t": "lt",
                "v": "humidityDelta",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "77b38d4dcf605753"
            ],
            [
                "564f2d59cbed954a"
            ]
        ]
    },
    {
        "id": "f6dccb25679f49b1",
        "type": "wirenboard-in",
<<<<<<< HEAD
        "z": "71eb007304ebc98b",
        "name": "LP Node",
=======
        "z": "6968155a9975e85c",
        "name": "IF Node",
>>>>>>> a3b1ff5 (change nodered script)
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualACdetector/controls/AC_alarm",
            "/devices/virtualController/controls/FAN_present",
            "/devices/virtualController/controls/Heater_present",
            "/devices/virtualController/controls/Humidity",
            "/devices/virtualController/controls/Humidity_threshold",
            "/devices/virtualController/controls/Humidity_threshold_delta",
            "/devices/virtualController/controls/Lightning",
            "/devices/virtualController/controls/Manual_control",
            "/devices/virtualController/controls/WinKit_present",
            "/devices/virtualController/controls/tIN",
            "/devices/virtualController/controls/tIN_cooling",
            "/devices/virtualController/controls/tIN_heating",
            "/devices/virtualController/controls/tIN_heating_delta",
            "/devices/virtualController/controls/tIN_overheat",
            "/devices/virtualController/controls/tIN_overheat_delta",
            "/devices/virtualController/controls/tOUT",
            "/devices/virtualController/controls/tOUT_switching",
            "/devices/virtualController/controls/tOUT_switching_delta",
            "/devices/virtualController/controls/tOUT_winKit",
            "/devices/virtualController/controls/tOUT_winKit_delta",
            "/devices/virtualCooler/controls/Cooler2_present",
            "/devices/virtualDoor/controls/Door",
            "/devices/virtualDoor/controls/Door_present",
            "/devices/virtualFireDetector/controls/Fire_alarm",
            "/devices/shtyl/controls/Work_status"
        ],
        "outputAtStartup": true,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "d400a51f5db2c1ab"
            ]
        ]
    },
    {
        "id": "cfad2e06739e4c75",
        "type": "wirenboard-get",
        "z": "6968155a9975e85c",
        "name": "lastRot",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Last_rotation_unix"
        ],
        "x": 560,
        "y": 1840,
        "wires": [
            [
                "f36f74bc4aff2bd4"
            ]
        ]
    },
    {
        "id": "10dcb7b16932378a",
        "type": "wirenboard-get",
        "z": "6968155a9975e85c",
        "name": "lastRot",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Last_rotation_unix"
        ],
        "x": 380,
<<<<<<< HEAD
        "y": 1920,
=======
        "y": 2140,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "6826bbb3dccffbe9"
            ]
        ]
    },
    {
        "id": "4f210e427aeb6817",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "winKit ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/WinKit"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": true,
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "2f7a67becc305854",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "winKit OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/WinKit"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "3041af0a85993bcf",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 560,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "d480f2f877dc58f4",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "manual control",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/Manual_control"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": true,
        "x": 940,
        "y": 600,
        "wires": [],
        "icon": "font-awesome/fa-hand-stop-o"
    },
    {
        "id": "38dbc0961d92835c",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "heater OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 930,
        "y": 700,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "1b7b7d9cbc60e2b9",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
        "y": 780,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "31cf370e2a2eabbf",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
        "y": 740,
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "528f890de4765f8a",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan, heat OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN",
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 940,
        "y": 940,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "f457c78676cc4700",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 980,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "2bb8739c81d8acbb",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "heater ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": true,
        "x": 930,
        "y": 1200,
        "wires": [],
        "icon": "font-awesome/fa-fire"
    },
    {
        "id": "5f82bf5bd2cad7a8",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
        "y": 1280,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "0a5c67a632300ce5",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "heater OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": true,
        "x": 930,
        "y": 1320,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "3287d16628599ab9",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
<<<<<<< HEAD
        "y": 1420,
=======
        "y": 1640,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "84976dcbd3423eef",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
<<<<<<< HEAD
        "y": 1740,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "c3e60e23c88b4d37",
        "type": "wirenboard-out",
        "z": "71eb007304ebc98b",
        "name": "rotation ON",
        "server": "5b8a1013ddb4815b",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "rotation",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1940,
=======
        "y": 1960,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "ef823d20c619e836",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "rotation ON",
        "server": "5b8a1013ddb4815b",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "rotation",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
<<<<<<< HEAD
        "y": 1540,
=======
        "y": 2160,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-exchange"
    },
    {
        "id": "82f3fc2de329cfe3",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "rotation ON",
        "server": "5b8a1013ddb4815b",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "rotation",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1760,
        "wires": [],
        "icon": "font-awesome/fa-exchange"
    },
    {
        "id": "496f1c8c42352091",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
<<<<<<< HEAD
        "y": 1860,
=======
        "y": 2080,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "a17a12291e44cc17",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
<<<<<<< HEAD
        "y": 1820,
=======
        "y": 2040,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "1b09c6eb46e133b3",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "rotation ON",
        "server": "5b8a1013ddb4815b",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1500,
        "wires": [],
        "icon": "font-awesome/fa-exchange"
    },
    {
        "id": "9d02a28397b0888a",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
<<<<<<< HEAD
        "y": 1380,
=======
        "y": 1600,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "26f1e9bba9388ef7",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 380,
        "y": 1940,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "c239d2f06a1ac33c",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "Lightning ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/Lightning"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1020,
        "wires": []
    },
    {
        "id": "564f2d59cbed954a",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "on",
        "payloadType": "msg",
        "rbe": false,
        "x": 920,
<<<<<<< HEAD
        "y": 1660,
=======
        "y": 1880,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-spinner"
    },
    {
        "id": "2c0f0e42bc15964b",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 660,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "5f8ad03361f87d1d",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1380,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "caa97a0ffc97a768",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1420,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "14ae17f9417c5b08",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
<<<<<<< HEAD
        "y": 1460,
=======
        "y": 1680,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "029502483ba11c4f",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
<<<<<<< HEAD
        "y": 1500,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "a671dbdc5c700e27",
        "type": "wirenboard-out",
        "z": "71eb007304ebc98b",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1580,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "ade04527c462dbf1",
        "type": "wirenboard-out",
        "z": "71eb007304ebc98b",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1620,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "340d503b6532ba8d",
        "type": "wirenboard-out",
        "z": "71eb007304ebc98b",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1700,
=======
        "y": 1720,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "5cf825d03fbf3150",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1800,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "77b38d4dcf605753",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
<<<<<<< HEAD
        "y": 1780,
=======
        "y": 1840,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "f41cd6f0bf52d62c",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1900,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "5f013b764f7ca3fc",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1980,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "22a9c4f70e59ff48",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 2120,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "73b10805cade520a",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 2200,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "4aa5f59f09d46b62",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer vent",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerFan",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1240,
        "wires": [],
        "icon": "font-awesome/fa-recycle"
    },
    {
        "id": "1c9fe9b301b887b1",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1500,
        "wires": [
            [
                "68d1f2f88393fd78",
                "1b09c6eb46e133b3"
            ]
        ]
    },
    {
        "id": "5c93de7672a7bf90",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
<<<<<<< HEAD
        "y": 1940,
=======
        "y": 1720,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "82f3fc2de329cfe3",
                "e3d237316dbd2b89"
            ]
        ]
    },
    {
        "id": "1be740c8dc65f229",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 2160,
        "wires": [
            [
                "d570262787040ded",
                "ef823d20c619e836"
            ]
        ]
    },
    {
        "id": "fea7209ca2a97c07",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "timeRot",
        "property": "rotation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1760,
        "wires": [
            [
                "5cf825d03fbf3150",
                "5c93de7672a7bf90"
            ]
        ]
    },
    {
        "id": "c161e80478f34ab1",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "timeRot",
        "property": "rotation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
<<<<<<< HEAD
        "y": 1900,
=======
        "y": 2120,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "22a9c4f70e59ff48",
                "1be740c8dc65f229"
            ]
        ]
    },
    {
        "id": "e3d237316dbd2b89",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1680,
        "wires": [
            [
                "029502483ba11c4f"
            ]
        ]
    },
    {
        "id": "d570262787040ded",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
<<<<<<< HEAD
        "y": 1980,
=======
        "y": 2200,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "73b10805cade520a"
            ]
        ]
    },
    {
        "id": "a7a6239ac5d5a4fc",
        "type": "wirenboard-get",
        "z": "6968155a9975e85c",
        "name": "lastRot",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Last_rotation_unix"
        ],
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "08f7a996d86b4bc6"
            ]
        ]
    },
    {
        "id": "7773ad84ed907d9d",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "timeRot",
        "property": "rotation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "1c9fe9b301b887b1",
                "128171e4f65ab494"
            ]
        ]
    },
    {
        "id": "68d1f2f88393fd78",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1540,
        "wires": [
            [
                "ab010af3442bce81"
            ]
        ]
    },
    {
        "id": "128171e4f65ab494",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOff",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1460,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "ab010af3442bce81",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1540,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "a6f975e16fb95676",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "coolerOn",
        "payloadType": "msg",
        "rbe": false,
        "x": 390,
        "y": 1800,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "c06dc4787695357f",
        "type": "wirenboard-get",
<<<<<<< HEAD
        "z": "71eb007304ebc98b",
        "name": "LP Node",
=======
        "z": "6968155a9975e85c",
        "name": "NK Node",
>>>>>>> a3b1ff5 (change nodered script)
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/tIN",
            "/devices/virtualController/controls/tIN_cooling",
            "/devices/virtualController/controls/tIN_overheat",
            "/devices/virtualController/controls/tIN_overheat_delta",
            "/devices/virtualACdetector/controls/AC_alarm"
        ],
<<<<<<< HEAD
        "x": 740,
        "y": 600,
=======
        "x": 720,
        "y": 820,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "78a0f59b61c118a5"
            ]
        ]
    },
    {
        "id": "d5d748110e963a57",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "acNum",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "$number(ac)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "$number(tBox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "$number(tBoxOverheat)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "$number(tBoxOverheatDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "$number(tBoxCooling)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 880,
        "wires": [
            [
                "7f327a7c9f16982b"
            ]
        ]
    },
    {
        "id": "7f327a7c9f16982b",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "ac",
        "property": "ac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "0932507d4d0aa7a3",
                "2c0f0e42bc15964b",
                "38dbc0961d92835c"
            ],
            [
                "9a44fad742ded0bb"
            ]
        ]
    },
    {
        "id": "85384d4d330ba1f2",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "overheatDelta",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "f837bd67beaea8b3",
                "c06dc4787695357f",
                "45afa04251ccda46"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-half"
    },
    {
        "id": "9a44fad742ded0bb",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "calculationDelta",
        "func": "var overheatDelta = msg.tBoxOverheat - msg.tBoxOverheatDelta;\nmsg.overheatDelta = overheatDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "85384d4d330ba1f2"
            ]
        ]
    },
    {
        "id": "f837bd67beaea8b3",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "tBoxCooling",
        "payloadType": "msg",
        "rbe": false,
        "x": 350,
        "y": 800,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "78a0f59b61c118a5",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
<<<<<<< HEAD
        "x": 870,
        "y": 600,
=======
        "x": 850,
        "y": 820,
>>>>>>> a3b1ff5 (change nodered script)
        "wires": [
            [
                "a5923b89447732d5"
            ]
        ]
    },
    {
        "id": "45afa04251ccda46",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 520,
        "y": 800,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "2b272f73a34845af",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 380,
        "y": 1540,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "a5923b89447732d5",
        "type": "change",
<<<<<<< HEAD
        "z": "71eb007304ebc98b",
        "name": "variablesName",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "payload[\"/devices/virtualACdetector/controls/AC_alarm\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "a13fc2b4f2f41761"
            ]
        ]
    },
    {
        "id": "11da7f86b8dad041",
        "type": "wirenboard-get",
        "z": "71eb007304ebc98b",
        "name": "LP Node",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualACdetector/controls/AC_alarm",
            "/devices/virtualController/controls/tIN",
            "/devices/virtualController/controls/tIN_cooling",
            "/devices/virtualController/controls/tIN_overheat",
            "/devices/virtualController/controls/tIN_overheat_delta"
        ],
        "x": 740,
        "y": 840,
        "wires": [
            [
                "016a5905ce24fba9"
            ]
        ]
    },
    {
        "id": "2f07b5e464d3c519",
        "type": "change",
        "z": "71eb007304ebc98b",
        "name": "varNum",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "$number(door)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "$number(tBox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "$number(tBoxOverheat)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "$number(tBoxOverheatDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "$number(tBoxCooling)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 920,
        "wires": [
            [
                "dd5f3ccb544200ff"
            ]
        ]
    },
    {
        "id": "dd5f3ccb544200ff",
        "type": "switch",
        "z": "71eb007304ebc98b",
        "name": "door",
        "property": "door",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 760,
        "wires": [
            [
                "a14422cf059acf3f",
                "13f84f0687963dde",
                "ab76c60462b371d7"
            ],
            [
                "e6e7233af9a20bf1"
            ]
        ]
    },
    {
        "id": "44e19a1c09e9910f",
        "type": "switch",
        "z": "71eb007304ebc98b",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "overheatDelta",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "250f51f187b821bb",
                "11da7f86b8dad041",
                "275a54c113369a38"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-half"
    },
    {
        "id": "e6e7233af9a20bf1",
        "type": "function",
        "z": "71eb007304ebc98b",
        "name": "calculationDelta",
        "func": "var overheatDelta = msg.tBoxOverheat - msg.tBoxOverheatDelta;\nmsg.overheatDelta = overheatDelta;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "44e19a1c09e9910f"
            ]
        ]
    },
    {
        "id": "250f51f187b821bb",
        "type": "wirenboard-out",
        "z": "71eb007304ebc98b",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "tBoxCooling",
        "payloadType": "msg",
        "rbe": false,
        "x": 410,
        "y": 840,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "016a5905ce24fba9",
        "type": "delay",
        "z": "71eb007304ebc98b",
        "name": "delay",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 880,
        "wires": [
            [
                "c76aeed65fc546a3"
            ]
        ]
    },
    {
        "id": "275a54c113369a38",
        "type": "wirenboard-out",
        "z": "71eb007304ebc98b",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 580,
        "y": 840,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "c76aeed65fc546a3",
        "type": "change",
        "z": "71eb007304ebc98b",
=======
        "z": "6968155a9975e85c",
>>>>>>> a3b1ff5 (change nodered script)
        "name": "variablesName",
        "rules": [
            {
                "t": "set",
                "p": "ac",
                "pt": "msg",
                "to": "payload[\"/devices/virtualACdetector/controls/AC_alarm\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 880,
        "wires": [
            [
                "d5d748110e963a57"
            ]
        ]
    },
    {
        "id": "955cf3324b26a8dc",
        "type": "wirenboard-get",
        "z": "6968155a9975e85c",
        "name": "NK Node",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/tIN",
            "/devices/virtualController/controls/tIN_cooling",
            "/devices/virtualController/controls/tIN_overheat",
            "/devices/virtualController/controls/tIN_overheat_delta",
            "/devices/virtualDoor/controls/Door"
        ],
        "x": 740,
        "y": 1060,
        "wires": [
            [
                "3933d7ac40366e68"
            ]
        ]
    },
    {
        "id": "e645c93eebda6590",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "varNum",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "$number(door)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "$number(tBox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "$number(tBoxOverheat)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "$number(tBoxOverheatDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "$number(tBoxCooling)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 1140,
        "wires": [
            [
                "7d08cc26823624d8"
            ]
        ]
    },
    {
        "id": "7d08cc26823624d8",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "door",
        "property": "door",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 980,
        "wires": [
            [
                "528f890de4765f8a",
                "f457c78676cc4700",
                "c239d2f06a1ac33c"
            ],
            [
                "09b57602a548f8a9"
            ]
        ]
    },
    {
        "id": "a220d8a906be916f",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "overheatDelta",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1020,
        "wires": [
            [
                "54085ab9bf2ed57e",
                "955cf3324b26a8dc",
                "42bc632139e4c4a4"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-half"
    },
    {
        "id": "09b57602a548f8a9",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "calculationDelta",
        "func": "var overheatDelta = msg.tBoxOverheat - msg.tBoxOverheatDelta;\nmsg.overheatDelta = overheatDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "a220d8a906be916f"
            ]
        ]
    },
    {
        "id": "54085ab9bf2ed57e",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "tBoxCooling",
        "payloadType": "msg",
        "rbe": false,
        "x": 410,
        "y": 1060,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "3933d7ac40366e68",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "abbb562bbfd6c7d2"
            ]
        ]
    },
    {
        "id": "42bc632139e4c4a4",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 580,
        "y": 1060,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "abbb562bbfd6c7d2",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "variablesName",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "payload[\"/devices/virtualDoor/controls/Door\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1140,
        "wires": [
            [
                "e645c93eebda6590"
            ]
        ]
    },
    {
        "id": "392ff70124d8efc1",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan, heat OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN",
            "/devices/virtualController/controls/Heater"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 940,
        "y": 520,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "4952ec17e5958005",
        "type": "wirenboard-get",
        "z": "6968155a9975e85c",
        "name": "NK Node",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/Manual_control",
            "/devices/virtualController/controls/tIN",
            "/devices/virtualController/controls/tIN_cooling",
            "/devices/virtualController/controls/tIN_overheat",
            "/devices/virtualController/controls/tIN_overheat_delta"
        ],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "791b56477eaa8d3a"
            ]
        ]
    },
    {
        "id": "1619f076a97e05cc",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "varNum",
        "rules": [
            {
                "t": "set",
                "p": "manual",
                "pt": "msg",
                "to": "$number(manual)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "$number(tBox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "$number(tBoxOverheat)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "$number(tBoxOverheatDelta)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "$number(tBoxCooling)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "a38a3572d822837f"
            ]
        ]
    },
    {
        "id": "a38a3572d822837f",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "manual",
        "property": "manual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "4952ec17e5958005"
            ],
            [
                "5c4efa611ee4ba2a"
            ]
        ]
    },
    {
        "id": "340db7ad09475467",
        "type": "switch",
        "z": "6968155a9975e85c",
        "name": "tºC_Box",
        "property": "tBox",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "overheatDelta",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "eec7cdfde29f5017",
                "4952ec17e5958005",
                "07e0e4093bd0ac55"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-half"
    },
    {
        "id": "5c4efa611ee4ba2a",
        "type": "function",
        "z": "6968155a9975e85c",
        "name": "calculationDelta",
        "func": "var overheatDelta = msg.tBoxOverheat - msg.tBoxOverheatDelta;\nmsg.overheatDelta = overheatDelta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "340db7ad09475467"
            ]
        ]
    },
    {
        "id": "eec7cdfde29f5017",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "freezer ON",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualCooler/controls/Mode"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "tBoxCooling",
        "payloadType": "msg",
        "rbe": false,
        "x": 470,
        "y": 240,
        "wires": [],
        "icon": "font-awesome/fa-snowflake-o"
    },
    {
        "id": "791b56477eaa8d3a",
        "type": "delay",
        "z": "6968155a9975e85c",
        "name": "delay",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "5a180e983795f41c"
            ]
        ]
    },
    {
        "id": "07e0e4093bd0ac55",
        "type": "wirenboard-out",
        "z": "6968155a9975e85c",
        "name": "fan OFF",
        "server": "5b8a1013ddb4815b",
        "channel": [
            "/devices/virtualController/controls/FAN"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "off",
        "payloadType": "msg",
        "rbe": false,
        "x": 640,
        "y": 240,
        "wires": [],
        "icon": "font-awesome/fa-close"
    },
    {
        "id": "5a180e983795f41c",
        "type": "change",
        "z": "6968155a9975e85c",
        "name": "variablesName",
        "rules": [
            {
                "t": "set",
                "p": "manual",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/Manual_control\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBox",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheat",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxOverheatDelta",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_overheat_delta\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tBoxCooling",
                "pt": "msg",
                "to": "payload[\"/devices/virtualController/controls/tIN_cooling\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "1619f076a97e05cc"
            ]
        ]
    },
    {
        "id": "5b8a1013ddb4815b",
        "type": "wirenboard-server",
        "name": "wirenboard",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": ""
    }
]
